<h1><%= @user.username %>'s profile</h1>

<% if Current.user == @user %>
  <p>
    > You can <%= link_to "edit your profile", edit_user_path(Current.user) %> or <%= button_to "logout", sessions_path, method: :delete, form_class: "form-as-link" %>
  </p>
<% end %>

<% if @user.saves.present? %>
  <div id="saves">
    <% @user.saves.each do |save| %>
      <%= render save %>
    <% end %>
  </div>
<% else %>
  <% if Current.user == @user %>
    <p>> Looks like you have not created any saves yet, <%= link_to "start here", new_save_path %>.</p>
  <% else %>
    <p>> Looks like <code><%= @user.username %></code> has not created any saves yet
  <% end %>
<% end %>
