<%= form_with(model: save) do |form| %>
  <% if save.errors.any? %>
    <div style="color: red">
      <h3><%= pluralize(save.errors.count, "error") %> prohibited this save from being saved:</h3>

      <ul>
        <% save.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <fieldset>
  <legend>Save information</legend>
    <div class="field">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, maxlength: 32 %>
    </div>

    <div class="field">
      <%= form.label :description, style: "display: block" %>
      <div class="grow-wrap">
        <%= form.text_area :description, oninput: "this.parentNode.dataset.replicatedValue = this.value" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Run state</legend>
    <div class="with-columns">
      <% Save::CONSTANT_FIELDS.each do |field| %>
        <div class="field">
          <%= form.label field.underscore.humanize %>
          <%= form.text_field field.underscore, value: save.save_data[field]["value"], data: { controller: "number-input", number_input_target: "input", action: "keypress->number-input#isNumber" } %>
        </div>
      <% end %>
    </div>
 </fieldset>

  <fieldset>
    <legend>Ship items</legend>
    <div class="with-columns">
      <% Save::SHIP_ITEM_IDS.keys.each do |field| %>
        <div class="field">
          <%= form.label field.underscore, class: "checkbox" do %>
            <%= field.underscore.humanize  %>
            <%= form.check_box field.underscore, checked: @save.send(field.underscore) %>
            <span class="checkmark"></span>
          <% end %>
        </div>
      <% end %>
    </div>
 </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>
