<p>< <%= link_to "Go back", saves_path %></p>

<h1>#<%= @save.id %> <%= @save.title %></h1>
<h4 class="subtitle">
  > Created by <%= link_to_if @save.user, @save.user&.username || "anon", @save.user %>. Downloaded <%= @save.download_count %> <%= "time".pluralize(@save.download_count) %>.
  <% if @save.user.present? && @save.user == Current.user %>
    | <%= link_to "edit", edit_save_path(@save) %>
  <% end %>
</h4>

<fieldset>
  <legend>Description</legend>
  <div>
    <% if @save.description.present? %>
      <div style="white-space: pre-wrap;"><%= @save.description %></div>
    <% else %>
      <div>In <%= @save.current_planet_name %>, with <%= @save.group_credits %> credits, and <%= @save.available_ship_items.count %> <%= "item".pluralize(@save.available_ship_items.count) %>.
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend>Run data</legend>
  <div>
    <div>
      <% Save::MOON_FIELD.each do |field| %>
        <%= field.underscore.humanize %>: <strong><%= @save.current_planet_name %></strong>
      <% end %>
    </div>
    <br />
    <div class="with-columns">
      <% Save::GAME_FIELDS.each do |field| %>
        <div>
          <%= field.underscore.humanize %><br />
          <strong><%= @save.save_data[field]["value"] %></strong>
        </div>
      <% end %>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Profit data</legend>
  <div class="with-columns">
    <% Save::MONEY_FIELDS.each do |field| %>
      <div class="">
        <%= field.underscore.humanize %><br />
        <strong><%= @save.save_data[field]["value"] %></strong>
      </div>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend>Ship items</legend>
  <div class="with-columns">
    <% @save.available_ship_items.each do |item| %>
        <div>✔ <%= item[:name].underscore.humanize %></div>
    <% end %>
  </div>
  <div><%= "No ship items selected." if @save.available_ship_items.empty? %></div>
</fieldset>

<fieldset>
  <legend>Story logs</legend>
  <div class="with-columns">
    <% @save.available_story_logs.each do |item| %>
        <div>✔ <%= item[:name].underscore.humanize %></div>
    <% end %>
  </div>
  <div><%= "No story logs selected." if @save.available_story_logs.empty? %></div>
</fieldset>

<fieldset>
  <legend>Bestiary</legend>
  <div class="with-columns">
    <% @save.available_enemy_scans.each do |item| %>
        <div>✔ <%= item[:name].underscore.humanize %></div>
    <% end %>
  </div>
  <div><%= "No bestiary entries selected." if @save.available_enemy_scans.empty? %></div>
</fieldset>

<div>
  <%= button_to "Download save", download_save_path(@save) %>
</div>

<p>> Help, <%= link_to "how do you use the save?", help_path %></p>
