<h1>Save: <%= @save.title %></h1>
<p>Created by <%= link_to_if @save.user, @save.user&.username || "anon", "#" %></p>

<div class="box">
  <div style="white-space: pre-wrap;"><%= @save.description %></div>
</div>

<% Save::CONSTANT_FIELDS.each do |field| %>
  <%= field.underscore.humanize %>
  <%= @save.save_data[field]["value"] %>
<% end %>

<% Save::SHIP_ITEM_IDS.keys.each do |field| %>
  <%= field.underscore.humanize %>
  <%= @save.send(field.underscore) %>
<% end %>

<div>
  <%= button_to "Download this save", download_save_path(@save) %>
  <% if @save.user.present? && @save.user == Current.user %>
    <%= link_to "Edit this save", edit_save_path(@save) %>
  <% end %>
</div>
