<h1>Save: <%= @save.title %></h1>
<p>Created by <%= link_to_if @save.user, @save.user&.username || "anon", "#" %></p>

<div class="box">
  <div style="white-space: pre-wrap;"><%= @save.description %></div>
</div>


<div>
  <%= button_to "Download this save", download_save_path(@save) %>
  <% if @save.user.present? && @save.user == Current.user %>
    <%= link_to "Edit this save", edit_save_path(@save) %>
  <% end %>
</div>
