<!DOCTYPE html>
<html>
  <head>
    <title>LCSaveEditor v1.0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= preload_link_tag "/assets/PerfectDOSVGA437.woff"  %>
    <%= preload_link_tag "/assets/PerfectDOSVGA437.woff2"  %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="crt" data-controller="background">
    <div class="wrapper">
      <div data-simplebar>
        <div>
          <%= link_to "LCSaveEditor v1.0", root_path %> |
          <%= link_to "all saves", saves_path %> |
          <%= link_to "new save", new_save_path %> |
          <% if Current.user.present? %>
            <%= button_to "exit", sessions_path, method: :delete, form_class: "form-as-link" %>
          <% else %>
            <%= link_to "sign in", new_session_path %>
          <% end %>
        </div>

        <% if Current.user.present? %>
          <p>> Welcome back, <%= link_to Current.user.username, edit_user_path(Current.user) %></p>
        <% end %>


        <% flash.each do |type, message| %>
          <p class="flash <%= type %>">
            > <%= message %>
          </p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
