<!DOCTYPE html>
<html>
  <head>
    <title>LethalCompanySaveEditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= preload_link_tag "/assets/PerfectDOSVGA437.woff"  %>
    <%= preload_link_tag "/assets/PerfectDOSVGA437.woff2"  %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="crt" data-controller="background">
    <div class="wrapper">
      <% if Current.user.present? %>
        <p>Welcome, <%= Current.user.username %></p>
        <%= link_to "Edit Profile", edit_user_path(Current.user) %> |
        <%= button_to "Sign Out", sessions_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_session_path %> |
        <%= link_to "Sign Up", new_user_path %>
      <% end %>

      <% flash.each do |type, message| %>
        <div class="flash <%= type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
