<!DOCTYPE html>
<html>
  <head>
    <title>LethalCompanySaveEditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= preload_link_tag "/assets/PerfectDOSVGA437.woff"  %>
    <%= preload_link_tag "/assets/PerfectDOSVGA437.woff2"  %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="crt" data-controller="background">
    <div class="wrapper">
      <div data-simplebar>
        <%= link_to "LCSaveEditor v1.0", root_path %> |
        <% if Current.user.present? %>
          <%= link_to "edit profile", edit_user_path(Current.user) %> |
          <%= link_to "exit", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "login", new_session_path %> |
          <%= link_to "sign up", new_user_path %>
        <% end %>

        <% if Current.user.present? %>
          <p>> Welcome back, <%= Current.user.username %></p>
        <% end %>

        <% flash.each do |type, message| %>
          <div class="flash <%= type %>">
            <%= message %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
